image:
  repository: ghcr.io/wmde/wbaas-backup
  tag: v0.1.6
  pullPolicy: IfNotPresent

restorePodRunning: false

job:
  failedJobsHistoryLimit: 2
  successfulJobsHistoryLimit: 2
  cronSchedule: "0 0 * * *"

backupSecretKey: key
backupSecretName: backup-openssl-key

storage:
  scratchDiskSpace: 16Gi
  gcs:
    bucketName: nacho-cheese
    serviceAccountSecretName: some-gcs-sa
    uploadToBucket: true

resources:
  job:
    requests:
      cpu: 100m
      memory: 50Mi
    limits:
      cpu: 750m
      memory: 500Mi
  restorePod:
    requests:
      cpu: 100m
      memory: 50Mi
    limits:
      cpu: 750m
      memory: 500Mi

db:
  load:
    passwordSecretName: sql-secrets-passwords
    passwordSecretKey: mariadb-root-password
    hostname: sql-mariadb-primary.default.svc.cluster.local
    username: root
    port: 3306
  dump:
    passwordSecretName: sql-secrets-init-passwords
    passwordSecretKey: SQL_INIT_PASSWORD_BACKUPS
    hostname: sql-mariadb-secondary.default.svc.cluster.local
    username: backup-manager
    port: 3306
