replicaCount:
  backend: 1
  web: 1
  webapi: 1
  alpha: 0

image:
  repository: ghcr.io/wbstack/mediawiki
  tag: "1.36-7.4-20211109-0"
  pullPolicy: IfNotPresent

mw:
  settings:
    logToStdErr: false
  db:
    master: someHostName
    replica: someHostName
  redis:
    readServer: someRedisOtherServer
    writeServer: someRedisServer
    password: abc123
    # passwordSecretName:
    # passwordSecretKey:
  elasticsearch:
    host: someOtherElasticsearchServer
    port: 9200
  mailgun:
    enabled: true
    apikey: 1234567
    domain: somedomain.name
    endpoint: "https://some.api.endpoint.example"
  smtp:
    enabled: false
    host: somedomain.name
    port: 587
    auth: true
    username: someUsername
    password: somePassword
  recaptcha:
    sitekey: ""
    # sitekeySecretName:
    # sitekeySecretKey:
    secretkey: ""
    # secretkeySecretName:
    # secretkeySecretKey:
  platform:
    apiBackendHost: someHost

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 80

resources:
  web: {}
  webapi: {}
  alpha: {}
  backend: {}

nodeSelector: {}

tolerations: []
