replicaCount:
  backend: 1
  web: 1
  webapi: 1
  alpha: 0

image:
  repository: ghcr.io/wbstack/mediawiki
  tag: "1.37-7.4-20220513-fp-beta-0" # TODO change this to new mw release!
  pullPolicy: IfNotPresent

mw:
  settings:
    logToStdErr: false
    allowedProxyCidr: ""
  db:
    master: someHostName
    replica: someHostName
  redis:
    readServer: someRedisOtherServer
    writeServer: someRedisServer
    password: abc123
    # passwordSecretName:
    # passwordSecretKey:
  elasticsearch:
    host: someOtherElasticsearchServer
    port: 9200
  mail:
    domain: somedomain.name
  mailgun:
    enabled: true
    apikey: 1234567
    endpoint: "https://some.api.endpoint.example"
  smtp:
    enabled: false
    host: somedomain.name
    port: 587
    auth: true
    # username: someUsername
    # password: somePassword
    # smtpUserSecretName:
    # smtpUserSecretKey:
    # smtpPasswordSecretName:
    # smtpPasswordSecretKey:

  recaptcha:
    sitekey: ""
    # sitekeySecretName:
    # sitekeySecretKey:
    secretkey: ""
    # secretkeySecretName:
    # secretkeySecretKey:
  platform:
    apiBackendHost: someHost

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

resources:
  web: {}
  webapi: {}
  alpha: {}
  backend: {}

nodeSelector: {}

tolerations: []
