replicaCount:
  backend: 1
  web: 1
  webapi: 1
  alpha: 0

image:
  repository: ghcr.io/wbstack/mediawiki
  tag:
    web: 1.35-7.4-20211013-0
    webapi: 1.35-7.4-20211013-0
    backend: 1.35-7.4-20211013-0
    alpha: 1.35-7.4-20211013-0
  pullPolicy: IfNotPresent

mw:
  db:
    master: someHostName
    replica: someHostName
  redis:
    readServer: someRedisOtherServer
    writeServer: someRedisServer
    password: abc123
    # passwordSecretName:
    # passwordSecretKey:
  elasticsearch:
    host: someOtherElasticsearchServer
    port: 9200
  mailgun:
    apikey: 1234567
    domain: somedomain.name
  recaptcha:
    sitekey: ""
    # sitekeySecretName:
    # sitekeySecretKey:
    secretkey: ""
    # secretkeySecretName:
    # secretkeySecretKey:
  platform:
    apiBackendHost: someHost

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 80

resources:
  web: {}
  webapi: {}
  alpha: {}
  backend: {}

nodeSelector: {}

tolerations: []
