apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tool-querybuilder.fullname" . }}
  labels:
    {{- include "tool-querybuilder.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "tool-querybuilder.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "tool-querybuilder.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}

      volumes:
        - name: extra-tls
          secret:
            secretName: {{ .Values.extraCert.secretName }}
            optional: true

      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: extra-tls
              mountPath: /usr/share/ca-certificates/extra
              readOnly: true
          env:
            - name: VUE_APP_SUBCLASS_PROPERTY_MAP
              value:  {{ .Values.app.subclassPropertyMap | quote }}
            - name: VUE_APP_SI_CONVERSION_PROPERTY
              value: {{ .Values.app.siConversionProperty | quote }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /querybuilder/
              port: http
          readinessProbe:
            httpGet:
              path: /querybuilder/
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
