replicaCount: 1

app:
  sleepTime: 10
  getBatchesEndpoint: some.service/backend/qs/getBatches
  wikibaseScheme: https
  proxyMap: platform-nginx.default.svc.cluster.local:8080

image:
  repository: ghcr.io/wbstack/queryservice-updater
  tag: 0.3.84_3.8
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

resources:
  requests:
    cpu: "100m"
    memory: "150Mi"
  limits:
    cpu: "150m"
    memory: "150Mi"

nodeSelector: {}

tolerations: []

affinity: {}

mediawiki:
  configMapName: "wbaas-mediawiki-config"
  wikibaseConceptUriSchemeConfigMapKey: "wikibase_concept_uri_scheme"
