apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  project: {{ .Values.environment }}
  source:
    repoURL: {{ .Values.repoUrls.wbstack }}
    targetRevision: 1.0.6
    chart: argocd-apps
    helm:
      values: |
{{ toYaml .Values | indent 8 }}
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
