apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  project: {{ .Values.environment }}
  sources:
    - repoURL: https://github.com/wbstack/charts.git
      targetRevision: 1.0.6
      chart: argocd-apps
      helm:
        values: |
          {{ toYaml .Values | indent 10 }}
        valueFiles:
          - $deployRepo/k8s/argocd/{{ .Values.environment }}/app-of-apps.values.yaml
    - repoURL: {{ .Values.repoUrls.deploy }}
      targetRevision: HEAD
      ref: deployRepo
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
